---
import Navbar from "../../components/Navbar.astro";
import CreateUser from './components/_create';
import ListUser from './components/_list';
import Layout from "../../layouts/Layout.astro";
import { getUser } from "./actions/list";
import { atom } from 'nanostores';
import { type Users } from "../../types/users";

const users = atom<Users[]>([])

const getUsers = await getUser();
if (getUsers.status === 200) {
    users.set(getUsers.data); 
}
---
<script >
  import Swal from "sweetalert2";
  window.addEventListener("triggerActions", async (event) => {
    const customEvent = event as CustomEvent;
    const message = customEvent.detail?.message;
    const status = customEvent.detail?.status;

    Swal.fire({
      title: (status=="success") ? "Sukses!" : "Error!",
      text: message,
      icon: status,
      confirmButtonText: "Oke",
    }).then(() => {
      window.location.reload();
    });
  });
</script>

<Layout>
  <Navbar />
  <div class="p-10 w-full">
    <div class="bg-white p-5 rounded-md">
      <CreateUser client:visible />
      <ListUser users={users.value} client:visible/>
    </div>
  </div>
</Layout>
